{% extends 'blog-base.html' %}

{% block title %}
    All Posts
{% endblock title %}

{% block content %}
<section id="all-posts">
    <div class="container">
        <h2>My POsts</h2>
        <ul class="list-unstyled row d-inline-flex p-2">
            {% for post in all_posts %}
 
                        <li class="col">
                        {% include "blog/includes/post.html" %}
                        </li>

                {% endfor %}
            </ul>
    </div>

</section>
{% endblock content %}

