@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
  }
body {
    background-color: rgb(168, 191, 211);
    font-size: 1.6rem;
    display: block;
    min-width: 320px;
    color: aliceblue;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
html {
    font-family: 'Open Sans', 'Lato', sans-serif;
}
  

.main-menu {
    width: 10rem;
    background-color: rgb(62, 62, 116);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.menu-top>a>span {
    font-size: 1.9rem;
    color: crimson;
}
.menu-top>span {
    font-size: 0.9rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    transition: color 0.3s;
    /* background-color: transparent; */
}
.menu-top {
    background-color:black;
    width: 100%;
    /* height: 20%; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 2rem 0;
}
.menu {
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid black;
}
.menu a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: medium;
    color: azure;
    line-height: 5rem;
    border-bottom: 1px solid black;
    transition: color 0.3s;
}
.menu a:hover{
    color: aquamarine;
}



.social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.social li {
    text-align: left;
}

.social li a {
    color: #cb2727;
    padding: 2rem 7px;
}