
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Blog Home{% endblock title %} Blog Home</title>

    {% block css %}{% endblock css %}
</head>
<body>
    <header id="blog-header">
        <h1> <a href="{% url 'blog-home' %}">Ji's Blog</a></h1>
        <nav>
            <a href="{% url 'all-posts' %}">All Posts</a>
            <a href="{% url 'read-later' %}">Read Later</a>
        </nav>
    </header>
    {% block content %}
    
    {% endblock content %}
</body>
</html>